/*************/
/* HOME PAGE */
/*************/

div#header_big {
	font-size: 8em;
	font-family: Fjalla One;
	text-align: center;
	margin-top: 1em;
}

#tabs_big {
	font-family: Josefin Sans;
	text-align: center;
	font-size: 1.6em;
	min-width: 28em;
}

#tabs_big a:link, #tabs_big a:visited, #tabs_big a {
	text-decoration: none;
	color: black;
	margin-left: .5em;
	margin-right: .5em;
}

#tabs_big a:hover {
	text-decoration: underline;
	color: #0099CC;
}

/*************/
/* HEADER */
/*************/

div#header_small {
	font-size: 5em;
	font-family: Fjalla One;
	text-align: left;
	margin-top: .1em;
	padding-left: .2em;
}

#tabs_small {
	font-family: Josefin Sans;
	text-align: right;
	font-size: 1.2em;
	padding-right: .6em;
}

#tabs_small a:link, #tabs_small a:visited {
	text-decoration: none;
	color: black;
	margin-left: .2em;
	margin-right: .2em;
}

#tabs_small a:hover {
	text-decoration: underline;
	color: #0099CC;
}

#tabs_small a#selected {
	color: #0099CC;
}

section#header {
    margin: auto;
    position: fixed;
    z-index: 9999;
    background-color: white;
    height: 7.3em;
    top: 0em;
    left: 0em;
    right: 0em;
    min-width: 40em;
}

div#header_small {
    float: left;
    display: inline-block;
}

div#tabs_small {
    float: right;
    margin-top: 3.9em;
    display: inline-block;
}

div#bar {
	height: .5em;
	width: 100%;
	background-color: #0099CC;
	clear: both;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*************/
/* FOOTER */
/*************/
section#footer {
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	left: 0em;
	right: 0em;
	height: 5em;
}

img.icon {
	width: 5em;
	-webkit-filter: grayscale(1);
}

a:hover img.icon {
	-webkit-filter: grayscale(0);
}

/*************/
/* BODY */
/*************/

section#body {
	margin: auto;
	width: 80%;
	max-width: 50em;
	text-align: left;
	font-family: Open Sans;
	padding-top: 8em;
}

section#body * {
	margin: .5em;
}

/*************/
/* CONTACT */
/*************/

#contact_form * {
	width: 25em;
}

/*************/
/* GENERAL */
/*************/

a.no_style_link:link, a.no_style_link:visited {
	text-decoration: none;
	color: black;
}
.blue {
	color: #0099CC;
}

* {
	padding: 0em;
	margin: 0em;
}

.center * {
	text-align: center;
}